<h1>员工列表</h1>

<table class="table table-bordered table-hover">
  <tr class="text-info">
    <th>编号</th>
    <th>姓名</th>
  </tr>
  <% @users.each do |f| %>
    <tr>
      <td><%= f["coding"] %></td>
      <td><%= link_to "f["name"]", "#" %></td>
    </tr>
  <% end %>
</table>
