<h1>员工列表</h1>

<table class="table table-bordered table-hover">
  <tr class="text-info">
    <th>编号</th>
    <th>姓名</th>
  </tr>
    <tr>
      <td><%#= %></td>
      <td><%= @u["user"]["id"] %></td>
    </tr>
</table>
