<div class="col-md-4 col-md-offset-4 text-center">
  <h1> 站内信 show </h1>

  <hr>

  <h3> <%= @letter.letter_text.title %> </h1>
  <p>
    <%= @letter.letter_text.text %>
  </p>

  <p>
    发送者: <%= user_show_api(@letter.sender_id)["name"] %>
  </p>

  <p>
    接收者: <%= user_show_api(@letter.recever_id)["name"] %>
  </p>
</div>
